#input {
    display: flex;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    column-gap: 5px;
    
    input {
        border: none;
        text-decoration: none;
        flex: 1;
        width: 100%;
        background-color: transparent;
        color: black;
        font-size: 14px;
        
        &:focus {
            outline: none;
        }
        
        &:focus-visible {
            outline: none;
        }
        
        &::placeholder {
            color: #666;
        }
    }

    &:focus-within {
        border-color: #2196F3;
        box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
    }

    &[aria-disabled="true"] {
        background-color: rgba(255, 255, 255, 0.6);
        border-color: #ddd;
        input {
            background-color: transparent;
            color: #666;
        }
    }
}