@import '../../variables.scss';

.create-report-detail {
    display: flex;
    flex-direction: column;
    background-color: $black-background;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;

    .report-dates {
        display: flex;
        column-gap: 50px;
        width: 100%;
        margin: 20px 0;
        div {
            width: 20%;
            #input {
                width: 100%;
            }
        }
        
    }

    .report-detail-form {
        display: flex;
        padding-bottom: 100px;
        width: 100%;
        color: white;
        gap: 10px 20px;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow-y: auto;
        height: 90%;

        .reference-snp {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            border: 1px solid white;
            border-radius: 10px;
            padding: 10px;
            width: 30%;
        }
    }

    .report-detail-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        width: 100%;
        margin-top: 50px;
    }
}