@import '../../variables.scss';

.create-report {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: $black-background;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;

    .table-scroll {
        width: 100%;
        background-color: transparent;
        border: 1px solid white;
        margin: 20px 0;
    }

    .select {
        margin-top: 5px;
        z-index: 1;
        height: 35px;
    }

    #form {
        margin: 10px 0;
        background-color: transparent;
        flex: 1;
        .form-actions {
            display: none;
        }
    }

    .create-report-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }
}

.generated-report {
    border-radius: 10px;
    background-color: $black-background;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .embedded-pdf {
        width: 98%;
        height: 98%;
        border-radius: 10px;
    }
}