@import '../../variables.scss';

.select {
    font-family: inherit;
    position: relative;
    background-color: white;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    min-width: 100px;
    height: 35px;
    padding: 5px;

    &.disabled {
        cursor: not-allowed;
        background-color: rgba($color: lightgray, $alpha: 0.95);
    }

    .select-display-value {
        width: 100%;
        color: black;
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;

        i {
            color: black;
        }
        span {
            flex: 1;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    .select-drop-down {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        border-radius: 5px;
        border: 2px solid red; /* Temporary debug border */
        z-index: 99999;
        max-height: 200px;
        overflow-y: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
        .select-option {
            padding: 8px 10px;
            color: black;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                background-color: rgba($color: $unigem-green, $alpha: 1);
                color: white;
            }
        }
        .selected {
            background-color: rgba($color: $unigem-green, $alpha: 1);
            color: white;
        }
    }

    .default-select::-ms-expand {
        display: none;
    }
}