@import '../../variables.scss';

.select {
    font-family: inherit;
    position: relative;
    background-color: white;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    min-width: 100px;
    height: 35px;
    padding: 5px;

    &.disabled {
        cursor: not-allowed;
        background-color: rgba($color: lightgray, $alpha: 0.95);
    }

    .select-display-value {
        width: 100%;
        color: black;
        padding: 0 5px;
        display: flex;
        flex-wrap: wrap;

        i {
            color: black;
        }
        span {
            flex: 1;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    .select-drop-down {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        border-radius: 5px;
        width: 100%;
        border: 1px solid black;
        z-index: 1;
        
        .select-option {
            padding: 0 5px;
            color: black;
            &:hover {
                background-color: rgba($color: $unigem-green, $alpha: 1);
                color: white;
            }
        }
        .selected {
            background-color: rgba($color: $unigem-green, $alpha: 1);
            color: white;
        }
    }

    .default-select::-ms-expand {
        display: none;
    }
}