@import '../../variables.scss';

.side-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 20px;
    background-color: $black-background;
    color: white;
    border-radius: 10px;
    .side-menu-icon {
        display: flex;
    }

    .sign-out {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
    }
}