@import '../../variables.scss';

.side-menu-spacer {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    span {
        color: $unigem-blue;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .side-menu-separator-children {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 20px;
    }
}